{% extends "base_generic.html" %}

{% block content %}
    <!-- {% if perms.catalog.can_mark_returned %} -->
        <h1>All Borrowed Books</h1>

        <!-- {% if bookinstance_list %}
            <ul>
                {% for bookinsta in bookinstance_list %}
                    <li class="{% if bookinsta.is_overdue %}text-danger{% endif %}">
                        <a href="{% url 'book-detail' bookinsta.book.pk %}">{{ bookinsta.book.title }}</a>{{ bookinsta.due_back }} - {{ bookinsta.borrower }}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>There are no books borrowed.</p>
        {% endif %} -->
    <!-- {% endif %} -->
{% endblock %}